<nav class="col-12 flex wrap evenly centerV centerText">
    <a class="logo flex centerB" href="/"><span>Centro Cultural<br/> Barra Velha</span></a>
    <div class="flex wrap evenly centerV">
        <a class="option-1 wow animated bounceIn" href="/cursos/">Cursos</a>
        <a class="option-2 wow animated bounceIn" href="/oficinas/">Oficinas<br/> de Artes</a>
        <a class="option-3 wow animated bounceIn" href="/fotos/">Fotos</a>
        <a class="option-4 wow animated bounceIn" href="/unifel/">UNIFEL</a>
        <a class="option-5 wow animated bounceIn" href="/contato/">Contato</a>
        <a class="option-6 wow animated bounceIn" href="/sobre/">Sobre</a>
    </div>
</nav>